<html>
<script src="node_modules/angular/angular.js"></script>

<body ng-app="Ants"  ng-controller="AntsCtrl as ants" bgcolor="#8FBC8F">

	<div> 
		<ant-screen world="ants.teams"> </ant-screen>
	</div>
	<div>
		<p> There are <span ng-bind="{{ants.count()}}"></span> colonies remaining. 
			<button ng-click="ants.play()">start</button> 
			<button ng-click="ants.togglePause()">pause</button> 
		</p> 
		<ul>
			<li ng-repeat="t in ants.teams">
				<span style="color:{{t.color}}"> {{t.name + '-----> Hills:' + t.hills.length + ' Ants: ' + t.ants.length}} </span>
				<ul>
					<li ng-repeat="h in t.hills"> <span style="color:{{t.color}}"> {{'Hill----> Supply: '+ h.supply + '|| @: ' + h.x + ',' + h.y}} </span> </li> 
				</ul>
				<ul>
					<li ng-repeat="a in t.ants" style="color:{{t.color}}"> 
						Type: <span ng-bind="a.getType()" > </span>
						Loc: <span ng-bind="a.x"> </span> , <span ng-bind="a.y"></span>    
					</li>
				</ul>
			</li>
		</ul>
	</div>

</body>
<script src="antDraw.js"></script>
<script src="antControllers.js"></script>
<script src="antDirectives.js"></script>
<script src="antObjects.js"></script>
<script src="antServices.js"></script>
</html>